*{
    box-sizing: border-box;
}

header {
    background-color: lightgoldenrodyellow;
}
nav{
    background-color: lightgreen;
}
main{
    background-color: lightskyblue;
}
footer{
    background-color: red;
}